<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Id Column -->
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let studentCollection"> {{studentCollection.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let studentCollection"> {{studentCollection.nom}} </td>
          </ng-container>
      
        <!-- Firstname Column -->
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef> Firstname </th>
          <td mat-cell *matCellDef="let studentCollection"> {{studentCollection.prenom}} </td>
        </ng-container>
      
        <!-- Adress Column -->
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef> Adress </th>
          <td mat-cell *matCellDef="let studentCollection"> {{studentCollection.adresse}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  